body{
  background-color: black;
  width: 100vw;
  height: 100vh; 
  display: flex;
  justify-content: center;
  overflow-x: hidden;

}
.container{ 
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;  
  width: 500px;
  margin: 50px auto; /* Center the FAQ section */
}

@media (min-width:313px) and (max-width:605px) {
  
.container{   
  width: 100%; 
}

}